{% extends 'base.html.twig' %}

{% block title %}Mon Panier - La Boutique française{% endblock %}

{% block body %}
    <hr>
    <a href="{{path('app_product')}}">Retour</a>
    <hr>
    Retrouvez l'ensemble des produits que je veux acheté
    <main class="container pb-5">
            <section class="row">
                    <div class="col-12">
                                <h1>Mon Panier</h1>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Prix</th>
                                            <th>Quantité</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for element in data %}
                                                    <tr>
                                                        <td>{{element.product.name}}</td>
                                                        <td>{{element.product.price / 100}}</td>
                                                        <td>{{element.quantity}}</td>
                                                        <td>{{element.product.price * element.quantity / 100}}</td>
                                                        <td>
                                                            <a href="{{ path('addpanier', {id: element.product.id }) }}" class="btn btn-success">+</a>
                                                            <a href="{{ path('removepanier', {id: element.product.id }) }}" class="btn btn-warning">-</a>
                                                            <a href="{{ path('supprimer', {id: element.product.id }) }}" class="btn btn-danger">Supprimer</a>
                                                        </td>
                                                    </tr>
                                                   {% else %}
                                                    <tr>
                                                        <td colspan="5">Votre panier est vide</td>
                                                    
                                                    </tr> 
                                            {% endfor %}
                                    </tbody>
                                    <tfoot>
                                            <tr>
                                                <td colspan="3">TOTAL</td>
                                                <td>{{ total }}</td>
                                                <td>
                                                    <a href="{{ path('vider') }}">Vider le Panier</a>
                                                </td>
                                            </tr>
                                    </tfoot>
                                </table>
                    </div>
            </section>
            <section>
                    
                    <div>
                            <a href="#" class=" btn btn-block btn-success">Valider mon Panier</a>
                    </div>
            </section>
    </main>
{% endblock %}
